
.scroll-container {
position: relative;
  overflow: hidden;
 
}
.series-wrapper{
  display: flex;
   scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
 
}
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  transition: background-color 0.3s;
}

.scroll-button.left {
left: 110px;
}



.scroll-button:hover {
  background-color: #555;
}