
  
  .movie-title-boxq{
display: flex;
justify-content: center;
font-size: 15px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .movie-listq {
    display: flex;
    flex-wrap: wrap;
    gap: 11rem;
    justify-content: center;
    padding: 20px;

  }
  .movie-listq h3{
    
    font-weight: bold;
  }
  
  .movie-cardq {
    position: relative;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    
  }
  
  
  .movie-cardq:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  

  .movie-posterq {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .movie-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
  }
  
  .movie-title-overlayq h3 {
    margin: 0;
    font-size: 16px;
  
  }
.font{
  display: flex;
  justify-content: center;
  font-size: 4rem;
color: white;
font-weight: bold;
text-shadow: 0 0 10px #1E3A8A,
0 0 20px #1E3A8A,
0 0 40px #1E3A8A,
0 0 80px #1E3A8A;

}