

.navbar {
 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
height: 70px;
  box-shadow: none;
  z-index: 900;

}

.navbar.scrolled {
 /* background-color: rgba(255, 255, 255, 0.814); */
 background-color: rgba(0, 0, 0, 0.738);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.738);
}

.tv-navbar{
height: 0;
padding-top: 10px;
}
.tv-navbar a{
  display: inline;
  margin-right: 30px;


}
.head{
height: 300px;
background-image: linear-gradient(135deg, #231437, #2c385e 50%, #336e6b);
}
.vacant{

  height: 50px;
}
.below{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.729);
  font-family: Graphik Web, Graphik, sans-serif;
  letter-spacing: .6px;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
}
.after{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.862);
  font-size: 25px;
  
}

.fine{
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: hsla(0, 0%, 100%, .6);
  line-height: 50px;
}
#fine-bac{
  line-height: 0;
}
.App{
  width: 100%;
  max-width: 1550px;
  margin: auto;
}
.line{
  padding-left: 35px;
  font-size: 50px;
  color: white;
}
.movie-list-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.movie-list {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 400px;
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.movie-card {
width: 250px;

  flex: 0 0 auto;
 

  border-radius: 10px;
  padding: 0.5rem;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
  object-fit: cover; 

}

.movie-card h3 {
  font-size: 20px;
  margin: 0.5rem 0 0.25rem 0;
  display: flex;
  justify-content: center

}

.movie-card p {
  font-size: 0.8rem;
  margin: 0;
}


.movie-card:hover {
  transform: scale(1.05);
}

.scroll-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #555;
}

.scroll-button.left {
  position: absolute;
  left: 0;
  background-color: white;
  color: black;
}

.scroll-button.right {
  position: absolute;
  right: 0;
background-color: white;
color: black;
}




.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
 transition: all 500ms;
}
.close:hover{
  color: red;
}
.titel-await{

  position: relative;
  bottom: 10px;
  border-radius: 5px;
  color: white;
}

.movie-listof{
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 0.5rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 400px;
}
.font{
  padding-left: 110px;
  font-size: 30px;
 height: 0;
 color: white;
}
.font-of{
  color: white;
}
.fonts{
  height: 0;
  padding-left: 35px;
  color: white;
}

.bot-top{
  display: flex;
  justify-content: center;
margin-bottom: 30px;

}
.btntop{
  background: rgb(24, 198, 131);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms;
  transition: transform 0.3s ease; 

}
.btntop:hover{
  background-color: rgba(24, 198, 131, 0.84);
  transform: translateY(-5px);
}
.OfPage{
  background-color: white;
 

 
}

.NavOnwer{
  width: 100%;
  max-width: 1445px;
  margin: auto;
}
.headtop{
  font-size: 20px;
  font-weight: bold;
height: 0;
  padding: 10px;


}
.lag{
  display: flex;
  justify-content: end;
  gap: 20px;
 
}
.totak{
  width: 100%;
margin: auto;
max-width: 1500px;
}
.linkof{
  color: white;
font-weight: bold;
  text-decoration: none;
}
.linkof:hover{
  text-decoration:underline;
 }
@media (max-width: 768px) {
.tv-navbar{
display: none;
}


}
.link-tekn{
  padding-left: 80px;
}
.imgsf{
  height: 30px;
position: relative;
top: 10px;
right: 10px;
}
.top-img{
  display: flex;
  justify-content: center;
}
.hit{
  height: 40px;
position: relative;
bottom: 20px;
 
}
.hitof{
height: 0;
  display: flex;
  justify-content: center;
}
.h1titel{
  color: white;
}
.ptitel{
  color: rgba(255, 255, 255, 0.878);
}