

.navbar {
 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
height: 70px;
  box-shadow: none;
  z-index: 900;

}

.navbar.scrolled {
 /* background-color: rgba(255, 255, 255, 0.814); */
 background-color: rgba(0, 0, 0, 0.738);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.738);
}

.tv-navbar{
height: 0;
padding-top: 10px;
}
.tv-navbar a{
  display: inline;
  margin-right: 30px;


}
.head{
height: 250px;
background-image: linear-gradient(135deg, #231437, #2c385e 50%, #336e6b);
}
.vacant{

  height: 50px;
}
.below{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.729);
  font-family: Graphik Web, Graphik, sans-serif;
  letter-spacing: .6px;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
}
.after{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.862);
  font-size: 25px;
  
}

.fine{
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: hsla(0, 0%, 100%, .6);
  line-height: 50px;
}
#fine-bac{
  line-height: 0;
}
.App{
  width: 100%;
  max-width: 1550px;
  margin: auto;
}
.line{
  padding-left: 35px;
  font-size: 50px;
  color: white;
}
.movie-list-container {
  position: relative;
  display: flex;
  align-items: center;

}

.movie-list {

  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
gap: 11rem;
margin-left: 160px;
height: 400px;
}

.button-scroll{
  display: flex;
  justify-content: end;
  
padding-right: 100px;
}
.movie-list::-webkit-scrollbar {
  display: none;
}

/*.movie-card {
max-width: 150px;

  flex: 0 0 auto;
 
height: 35vh;
  border-radius: 10px;
  padding: 0.5rem;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.movie-card img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
  object-fit: cover; 

}*/

.movie-card h3 {
  font-size: 20px;
  margin: 0.5rem 0 0.25rem 0;
  display: flex;
  justify-content: center

}

.movie-card p {
  font-size: 0.8rem;
  margin: 0;
}





.scroll-button:hover {
  background-color: #555;
}

.scroll-button.left {

  background-color: white;
  color: black;
}

.scroll-button.right {


background-color: white;
color: black;
}




.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
 transition: all 500ms;
}
.close:hover{
  color: red;
}
.titel-await{

  position: relative;
  bottom: 10px;
  border-radius: 5px;
  color: white;
}

.movie-listof{
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 0.5rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 400px;
}

.font-of{
  color: white;
}
.fonts{
  height: 0;
  padding-left: 35px;
  color: white;
}

.bot-top{
  display: flex;
  justify-content: center;
margin-bottom: 30px;

}
.btntop{
  background: rgb(24, 198, 131);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms;
  transition: transform 0.3s ease; 

}
.btntop:hover{
  background-color: rgba(24, 198, 131, 0.84);
  transform: translateY(-5px);
}
.OfPage{
  background-color: white;
 

}

.NavOnwer{
  width: 100%;
  max-width: 1445px;
  margin: auto;
}
.headtop{
  font-size: 20px;
  font-weight: bold;
height: 0;
  padding: 10px;


}
.lag{
  display: flex;
  justify-content: end;
  gap: 20px;
 
}
.totak{
  width: 100%;
margin: auto;
max-width: 1500px;
}
.linkof{
  color: white;
font-weight: bold;
  text-decoration: none;
}
.linkof:hover{
  text-decoration:underline;
 }
@media (max-width: 768px) {
.tv-navbar{
display: none;
}


}
.link-tekn{
  padding-left: 80px;
}
.imgsf{
  height: 30px;
position: relative;
top: 10px;
right: 10px;
}
.top-img{
  display: flex;
  justify-content: center;
}
.hit{
  height: 40px;
position: relative;
bottom: 20px;
 
}
.hitof{
height: 0;
  display: flex;
  justify-content: center;
}
.h1titel{
  color: white;
  position: relative;

font-size: 4rem;
  text-shadow: 0 0 10px red,
  0 0 20px red,
  0 0 40px red,
  0 0 80px red;
  
}
.ptitel{
color: white;
font-weight: bold;


}

@media (max-width: 1150px){

  .movie-details{
position: relative;
top: 500px;
right: 330px;
  }

}
.movie-section{
  display: flex;
  padding: 30vh 0px 0px 20vw;
  gap: 30px;
}
.textif{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#ower{
text-align: start;
width: 50%;
}

.movie-details{

}
.dim-color{
  color: rgba(255, 255, 255, 0.63);
  font-weight: 100;
}
.separate{
  line-height: 50px;
}
.movie-cast {
  margin-top: 20px;
}

.cast-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cast-member {
  text-align: center;
width: 30%;
}

.cast-image {
  border-radius: 8px;
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.cast-name {
  
  font-size: 0.9em;
  color: #fff;
}
.movie-background{
  box-shadow: 0px -50px 300px rgba(236, 231, 231, 0.8);
  -webkit-mask-image: linear-gradient(#000, transparent);
}

.no-image {
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 5vw;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  max-width: 150px;
height: 300px;
}

.head-text {
  background-color: #001F3F; 
  color: #ffffff;
  padding: 4px 8px;
  text-align: center;
  white-space: normal; 

 
}

.movie-card img {
max-width: 150px;
object-fit: contain;

}
@media (max-width:690px) {
  .headtop{
    display: flex;
    flex-direction: column;
    height: 50px;
  }
}
@media (max-width:400px) {
  .head{
    height: 420px;
  }
}